nav{
background-color: #2E282A;
text-align: center;
font-size: 20px;

}
body{
  background-color: #A9ACA9;
  color: #555;
}
h1{
  font-family: "Sigmar One", serif;
  font-size: 100px;
}
h2{
  font-size: 60px;
}
h1, h2{
  background-color: #3F3244;
  color: #FFF;

}
