body{
  background-color: #A9ACA9;
  color: #555;
  padding: 2em;
  min-width: 400px;
}
nav{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: #2E282A;
text-align: center;
font-size: 20px;
font-family: 'Quicksand', sans-serif;
}
nav a{
  padding: 1em;
}


.main-title, .headImg{
  padding: 1em;
  margin: 1em;
}
.largerHead{
  font-family: 'Coiny', cursive;
  font-size: 3em;
  line-height: .75em;
  text-align: left;
}
.smallerHead{
  font-size: 1.5em;
  line-height: .75em;
  font-family: 'Coiny', cursive;

}
.main-title{
  background-color: #3F3244;
  color: #FFF;
  text-align: left;
  font-size: 1.2em;
/*  padding-bottom: .25em; */
}

.infoHeader{
  padding: 0em 1em 1em 1em;
  margin: 0 1em 1em 1em;
  text-align: left;
  line-height: 1.5em;
  font-family: 'Coiny', cursive;

}
.pairCat{
  padding: 1em;
  margin: 1em;
  text-align: left;
  line-height: 1.5em;
  font-family: 'Coiny', cursive;

}
.infoLarge{
  font-size: 2.25em;
  line-height: .75em;
  font-family: 'Coiny', cursive;
}
.infoSmall{
  font-size: 1.5em;
  line-height: .75em;
  font-family: 'Coiny', cursive;
}
.hereWhy{
  font-size: 1.25em;
  font-family: 'Quicksand', sans-serif;
}
.pairCat{
  min-width: 300px;
  height: auto;
  width: 100%;
  margin: 1em;
}
.fluffHead{
  text-align: center;
  font-size: 2em;
  line-height: .95em;
  font-family: 'Coiny', cursive;
}
.fluffPara{
  font-size: 1.25em;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
}
.pruneHead{
  text-align: center;
  font-size: 2em;
  line-height: .95em;
  font-family: 'Coiny', cursive;
}
.prunePara{
  font-size: 1.25em;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
}
.adoptHead{
  text-align: right;
  font-size: 2.5em;
  line-height: .95em;
  font-family: 'Coiny', cursive;
}
.adoptMe{
  margin: auto;
  width: 100%
  height: auto;
}
.imLonely{
  text-align: left;
  font-size: 2.5em;
  line-height: .95em;
  font-family: 'Coiny', cursive;
}

#page {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 300px;
  grid-gap: 2em;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "head head one one"
    "pair1 pair1 info info"
    "img1 text1 text2 img2"
    "text3 img3 img3 text4"
  ;
}

.main-title {grid-area: head;}
.headImg {grid-area: one;}
.pairCat {grid-area: pair1;}
.infoHeader {grid-area: info;}
.fluffyCatImg {grid-area: img1;}
.fluffyCat {grid-area: text1;}
.prunyLump {grid-area: text2;}
.prune {grid-area: img2;}
.adopt {grid-area: text3;}
.adoptMe {grid-area: img3;}
.lonely {grid-area: text4;}

footer{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/*h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
*/
/*h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
} */
/* ul {
  list-style: none;
} */
/* button, input, select, textarea {
  margin: 0;
} */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
  text-align: left;
}
/*font-family: 'Coiny', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/
